<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="userpoweredflplugin.swiftcategory"
            name="SWIFT Tool">
      </category>
      <view
            category="userpoweredflplugin.swiftcategory"
            class="userpoweredflplugin.PreStateView"
            icon="icons/magnifying_glass.png"
            id="userpoweredflplugin.prestateview"
            name="Pre-state View"
            restorable="true">
      </view>
      <view
            class="userpoweredflplugin.ControlViewPart"
            icon="icons/debug_console.png"
            id="userpoweredflplugin.controlview"
            name="SWIFT Control Panel"
            restorable="true">
      </view>
      <view
            category="userpoweredflplugin.swiftcategory"
            class="userpoweredflplugin.PostStateView"
            icon="icons/magnifying_glass.png"
            id="userpoweredflplugin.poststateview"
            name="Post-state View"
            restorable="true">
      </view>
      <view
            class="userpoweredflplugin.DebuggingTimerView"
            icon="icons/timer.png"
            id="userpoweredflplugin.timerview"
            name="Debugging Timer"
            restorable="true">
      </view>
      <view
            category="userpoweredflplugin.swiftcategory"
            class="userpoweredflplugin.ExpCtrlPanelView"
            id="userpoweredflplugin.expctrlview"
            name="Experiment Contrl Panel"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="userpoweredflplugin.SwiftPerspectiveFactory"
            id="userpoweredflplugin.swiftperspective"
            name="SWIFT">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="userpoweredflplugin.swiftperspective">
         <view
               closeable="false"
               id="userpoweredflplugin.prestateview"
               minimized="false"
               relationship="stack"
               relative="topleft"
               visible="true">
         </view>
         <view
               closeable="false"
               id="userpoweredflplugin.poststateview"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="userpoweredflplugin.prestateview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="userpoweredflplugin.expctrlview"
               minimized="false"
               relationship="stack"
               relative="bottomleft"
               visible="true">
         </view>
         <view
               closeable="false"
               id="userpoweredflplugin.controlview"
               minimized="false"
               relationship="stack"
               relative="userpoweredflplugin.expctrlview"
               visible="true">
         </view>
         <view
               id="org.eclipse.debug.ui.DebugView"
               minimized="false"
               relationship="stack"
               relative="bottomright"
               visible="true">
         </view>
         <view
               id="org.eclipse.debug.ui.VariableView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.DebugView"
               visible="true">
         </view>
         <view
               id="org.eclipse.debug.ui.ExpressionView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.DebugView"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="false"
               id="userpoweredflplugin.timerview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
  
  <extension
         	point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="userpoweredfl.ui.highSuspAnnotation"
            colorPreferenceKey="highsusp_color"
            colorPreferenceValue="255,92,51"
            contributesToHeader="false"
            highlightPreferenceKey="highsusp_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="highsusp_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="highsusp_isGoToPreviousNavigationTargetKey"
            label="%highSuspAnnotation.label"
            overviewRulerPreferenceKey="highsusp_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="highsusp_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="highsusp_text"
            textPreferenceValue="true"
            textStylePreferenceKey="highsusp_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="highsusp_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="userpoweredfl.ui.midSuspAnnotation"
            colorPreferenceKey="midsusp_color"
            colorPreferenceValue="255,166,77"
            contributesToHeader="false"
            highlightPreferenceKey="midsusp_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="highsusp_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="midsusp_isGoToPreviousNavigationTargetKey"
            label="%midSuspAnnotation.label"
            overviewRulerPreferenceKey="midsusp_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="highsusp_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="midsusp_text"
            textPreferenceValue="true"
            textStylePreferenceKey="midsusp_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="midsusp_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="userpoweredfl.ui.lowSuspAnnotation"
            colorPreferenceKey="lowsusp_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="lowsusp_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lowsusp_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lowsusp_isGoToPreviousNavigationTargetKey"
            label="%lowSuspAnnotation.label"
            overviewRulerPreferenceKey="lowsusp_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lowsusp_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="lowsusp_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lowsusp_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lowsusp_verticalRuler"
            verticalRulerPreferenceValue="false"/>
   </extension>
  <extension
        point="org.eclipse.jdt.debug.breakpointListeners">
     
   <breakpointActionDelegate
          class="userpoweredflplugin.MethodBreakpointListener"
          id="userpoweredflplugin.methodbreakpointlistener">
    </breakpointActionDelegate>
    <breakpointActionDelegate
          class="userpoweredflplugin.ExceptionBreakpointListener"
          id="userpoweredflplugin.exceptionbreakpointlistener">
    </breakpointActionDelegate>
    
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="userpoweredflplugin.MyJavaCompilationUnitEditor"
           default="false"
           extensions="java"
           id="userpoweredflplugin.myjavaeditor"
           name="SwiftJavaEditor">
     </editor>
  </extension>

</plugin>
